/* Responsive */
#app_body {
  max-width: 80%;
  padding-left: 8%;
}
#app_body h1 {
  margin-bottom: 10px;
  width:50%;
}

.location {
  margin-bottom:2%;
  margin-bottom:2%;
}

#apply_button {
  margin-top:70px;
}

#wrapper {
  font-size: 1.4em;
  line-height: 2em;
}

#content {
  line-height: 25px;
}

/* Handheld */
@media (max-width: 640px)
#app_body {
    padding-left: 5%;
}
@media (max-width: 640px)
#app_body h1 {
  font-size:1.2em;
  line-height:1.2em;
  width:50%;
}
@media (max-width: 640px)
#app_body #content {
  line-height: 25px;
  font-size: 15px;
}
@media (max-width: 640px)
#apply_button {
  margin-top:70px;
  margin-right:10px;
}
